.Character {
  background-color: black;
  color: black;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.6)), url('./images/marvelCharacters1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
}

.Character-card {
  display: flex;
  justify-content: left;
  padding: 5px 5px 5px 5px;
}

.Character-img {
  height: 45rem;
  width: 31rem;
}

.Character-links {
  display: block;
}

.Character-header {
  display: flex;
  justify-content: space-between;
  font-family: 'ccbiffbamboom';
  color: #EEB634;
  height: 16%;
  font-size: 50px;
  text-shadow: 5px 2px red;
  text-align: center;
  width:100%;
}

.Character-button {
  background-color: #EEB634;
  color: #231F1B;
  margin-top: 3rem;
  margin-right: 5rem;
  font-size: 25px;
  font-weight: bold;
  border-radius: 30px;
  box-sizing: border-box;
  height: 3rem;
  width: 9rem;
  align-self: flex-end;
  cursor: pointer;
}

.Character-button:hover {
  background: #231F1B;
  color: white;
  font-weight: bold;
  transition-duration: .5s;
} 

.Character-desc {
  padding: 5px;
  font-family: 'Work Sans';
  text-align: left;
  margin-bottom: .5rem;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  position: relative; 
}

.Character-title {
  font-family: 'ccbiffbamboom';
  font-weight: bold;
  font-size: 6rem;
  margin-top: 1rem;
  margin-left: 5rem;
  padding-bottom: .5rem;
}

.comics-header {
  font-family: 'ccbiffbamboom';
  color: #EEB634;
  height: 10rem;
  font-size: 6rem;
  text-shadow: 5px 2px red;
  background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);
  border: #EEB634 2px solid;
  text-align: center;
  width:100%;
}


.comics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.comics-main {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 1rem;
  background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);
  box-shadow: 7px 10px 12px 3px rgba(243, 139, 4, 0.842);
  text-align: center;
  border-radius: 50px;
  background-size: 150%;
  background-position-y:-110px;
  background-position-x:center;
}

.comics-title {
  font-family: 'Work Sans';
  text-align: center;
  font-size: large;
}

.comics-image {
  display: flex;
  justify-content: center;
  padding: 37px;
  align-items: center;
  height: 257px;
  width: 225px;
  opacity: 100%;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.comics-image:hover {
  transform: rotate(10deg);
}

@font-face {
  font-family:"ccbiffbamboom";
  src:url("https://use.typekit.net/af/b8054b/00000000000000003b9b08d8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b8054b/00000000000000003b9b08d8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b8054b/00000000000000003b9b08d8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

  @font-face {
    font-family:"ccbiffbamboomoutline";
    src:url("https://use.typekit.net/af/2c1f44/00000000000000003b9b08d9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2c1f44/00000000000000003b9b08d9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2c1f44/00000000000000003b9b08d9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }