@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Work+Sans&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=lop6dey&ht=tk&f=35755.35756&a=951459&app=typekit&e=css");

body {
  margin: 0;
  font-family: 'Work Sans', 'Nabla', cursive;
  font-family: 'Work Sans', sans-serif;
  font-family: "ccbiffbamboom",sans-serif; 
  font-family: "ccbiffbamboomoutline",sans-serif;
  background-color: #DDD7D2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
